main {
    display: grid;
    grid-template-areas:
        "header"
        "article"
        "footer";
    grid-template-columns: 1fr;
    cursor: default;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
}

/*Organización de HEADER*/
main > header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font: 100 70px/1.3 'Berkshire Swash', "Sofia", sans-serif;
    font-weight: bolder;
    color: black;
    text-shadow: 1px 1px 0px #2e1f1f, 4px 4px 0px rgba(0,0,0,0.15);
    padding: 120px;
    grid-area: header;
}
header > p {
    font-size: 15px;
    text-shadow: 1px 1px 0px #2e1f1f, 4px 4px 0px rgba(0,0,0,0.15);
}

/*Organización de Barra principal*/
nav {
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: transparent;
    font-size: 14px;
    position:fixed;
    font-weight: bolder;
    color:red;
    top: 1%;
    width:100%;
}
nav .logo{ font-size: 20px; margin-left: 8px; }
nav ul.barrnav{ grid-template-columns: repeat(6,auto); margin-right: 16px; }
ul.barrnav > li > a{
    text-decoration: none;
    margin: 5px;
    font-weight:lighter;
    color: red;
}
ul.barrnav > li {  list-style-type: none; display: inline-block; }
ul.barrnav> li  a:hover{ font-weight:bolder; color:rgb(156, 76, 18); }
/*Organización de Barra auxiliar*/
aside{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    background: aliceblue;
    opacity: 0.7;
    font-family: serif;
    font-size: 14px;
    position:fixed;
    top:35%;
    width:20%;
    padding: 10px;
 }
aside .logo{
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
}
aside .barraside > div{ padding: 2px; }
aside .barraside > div > a{ text-decoration: none; font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    font-style: normal;
    color:red;}
aside .barraside > div > a:hover{ background:rgb(168, 202, 233); }

/*Organización de Contenido*/
article {
    text-align: justify;
    padding: 0 2em;
    background-color: rgba(255, 230, 230, 0.67);
    grid-area: article;
}
#video1, img{
    border-radius: 5%;
}
iframe{
    border-radius: 50%;
}
figcaption{
    font-style: oblique;
    font-size: small;
    color: #3a3a3a;
}
#atractivos li > a{
    text-decoration: none;
    cursor: help;
    color:crimson;
    font-weight: bolder;
}
        /*centrar sub-titulos*/
article > section > strong:first-child{ 
    display:grid;
    text-align: center;
    font: 50 20px/1.3 'Berkshire Swash', "Sofia", sans-serif;
    color: rgb(223, 21, 179);
}
        /*click en itinerario*/
section#itinerario > ul > li {
    list-style-type: none;
    text-align: center;
}
.oculto{ display: none; }
div.dia:hover span{ display: block; }
div.dia:hover strong{
    color:rgb(168, 88, 243);
    cursor: none;
}
        /*costos*/
section#costos > ol > li{
    list-style-type: none;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}
section#costos > ol > li > ul{
    text-align: justify;
    font-weight: lighter;
}

/*INFO. DE LA CREADORA*/
footer{ 
    text-align: center;
    background-color: rgba(235, 233, 133, 0.48);
    font: 10 10px/1.3 'Berkshire Swash', "Sofia", sans-serif;
    font-weight: bold;
    grid-area: footer;
}
