main {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside article"
        "footer footer";
    grid-template-columns: 1fr 3fr;
}

header { /**/
    text-align: center;
    background-color: rgba(173, 213, 240, 0.67);
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
    grid-area: header;
}

nav { /**/
    text-align: center;
    background-color: rgba(200, 217, 253, 0.664);
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    grid-area: nav;
}

aside { /**/
    text-align: justify;
    background-color: rgba(155, 243, 206, 0.48);
    left: 0;
    padding: 0 3.5em;
    grid-area: aside;
}

article { /**/
    text-align: justify;
    padding: 0 2.5em;
    background-color: rgba(255, 230, 230, 0.67);
    grid-area: article;
}

footer{ /**/
    text-align: center;
    background-color: rgba(235, 233, 133, 0.48);
    font-weight: bold;
    grid-area: footer;
}
